.explorePage{
    background-color: #011638;
    color: white;
    font-family: 'Space Mono', monospace;
    /* height: 100vh; */
}

.pageShowcaseContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.landingPageContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0 auto;
}

.cover{
    width: 50%;
    border-right: 2px solid white;
}

.projectInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.nameDateContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.date{
    font-size: 20px;
    font-style: italic;
}

.description{
    font-size: 20px;
    padding: 0 20px;
}

.toolsContainer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0 20px;
}

.tools{
    color: white;
    background-color: #2E294E;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #9c93ca;
    align-items: center;
}

#linkBtn{
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
}

#linkBtn:hover{
    opacity: 0.8;
}

@media(max-width: 500px){
    .explorePage .landingPageContainer{
        width: 85%;
    }
}