.navbar{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

#firstLandingLogo{
    width: 30vh;
    cursor: pointer;
}

.exploreContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
}

.exploreContainer:hover{
    opacity: 0.7;
}