.mainPage, .mainPage .exploreBtn, .mainPage .priceBtns {
    background-color: #011638;
    color: white;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.mainPage nav, .explorePage nav{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

#firstLandingLogo{
    width: 30vh;
    /* border: 1px solid white; */
    cursor: pointer;
}

.mainPage .exploreContainer, .explorePage .exploreContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
}

.mainPage .exploreContainer:hover, .explorePage .exploreContainer:hover{
    opacity: 0.7;
}

.mainPage .aboutContainer{
    display: flex;
    align-items: center;
    padding: 50px 10px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.mainPage .aboutContainer img{
    /* background-color: pink; */
    width: 40vh;
}

.mainPage .aboutLeftContainer{
    /* background-color: pink; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainPage .exploreBtn{
    padding: 15px 20px;
    width: fit-content;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #2E294E;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(129, 121, 201, 0.8), 0 0 10px rgba(129, 121, 201, 0.6), 0 0 30px rgba(129, 121, 201, 0.4);
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.mainPage .exploreBtn:hover {
    box-shadow: 0 0 15px rgba(129, 121, 201, 1), 0 0 20px rgba(129, 121, 201, 0.7), 0 0 40px rgba(129, 121, 201, 0.5);
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.mainPage .exploreBtn:hover{
    opacity: 0.85;
}

.mainPage h1{
    font-size: 40px;
    font-weight: bold;
}

.mainPage .quoteContainer{
    padding: 50px 20px;
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
}


.mainPage .quoteContainer p{
    text-align: right;
    padding: 10px 0px;
    font-size: 25px;
}

/* ! Text and pictures */
.mainPage .blockContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;
}

.mainPage .textContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainPage .picTextTitle{
    font-size: 50px;
    font-weight: bold;
}

.mainPage .picTextBody{
    font-size: 20px;
}

.mainPage .blockContainer img{
    height: 50vh;
}

#mouseImg{
    height: 30vh;
}

/* ! Pricing and plans  */
.mainPage .planContainer h2, #captionMsg{
    text-align: center;
}

.mainPage .planContainer h2{
    padding: 0px 30px;
    font-size: 50px;
}

#captionMsg:hover{
    text-decoration: underline;
    cursor: pointer;
}

.mainPage .planInnerContainer{
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.mainPage .priceOuterContainer ul{
    list-style-type: none;
}

.mainPage .priceContainer{
    padding: 50px 20px;
    border-radius: 5px;
    display: flex;
    width: 300px;
    border: 2px solid rgb(129, 129, 129);
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.mainPage .priceContainer:hover{
    transform: scale(1.1);
    border: 2px white solid;
}

.mainPage .planPrice{
    font-size: 30px;
    padding: 20px 0px;
}

.mainPage .priceBtns, .getStartBtn{
    color: white;
    background-color: #2E294E;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #9c93ca;
    cursor: pointer;
    align-items: center;
}

.mainPage .priceBtns:hover, .getStartBtn:hover{
    opacity: 0.8;
}

.mainPage .planBenefits{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 20px 10px 0px;
}

.mainPage .priceContainer h3, .mainPage .priceContainer p, .planPrice{
    text-align: center;
}

.mainPage .captionBtnContainer{
    font-size: 50px;
    text-align: center;
    margin-bottom: 300px;
}

.getStartBtn{
    transition: transform 0.3s ease;
    font-family: 'Space Mono', monospace;
}

.getStartBtn:hover{
    transform: scale(1.05);
}

.mainPage .benefitContainer{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.checkMarkIcon{
    padding-top: 5px;
}


/* ! Footer */
.mainPage footer{
    font-size: 20px;
    padding: 20px 5px 20px;
    border-top: 3px solid white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.mainPage #githubIcon{
    color: white !important;
    font-size: 25px;
}

/* ! Responsive for mobile */
@media (max-width: 500px) {
    .mainPage nav, .explorePage nav{
        padding: 15px;
    }

    #firstLandingLogo{
        width: 20vh;
    }
    
    .mainPage .aboutContainer{
        gap: 50px;
    }

    .mainPage .aboutContainer img{
        width: 30vh;
    }

    .mainPage .aboutLeftContainer{
        width: 80%;
    }

    .mainPage h1{
        font-size: 35px;
    }

    .mainPage .quoteContainer{
        width: 80%;
    }

    .mainPage .quoteContainer h2{
        font-size: 25px;
    }

    .mainPage .planContainer h2{
        font-size: 35px;
    }

    .mainPage .blockContainer img{
        width: 35vh;
        height: 35vh !important;
    }

    .mainPage .picTextTitle{
        font-size: 40px;
    }

    .mainPage .textContainer{
        width: 80%;
    }

    .mainPage h4{
        font-size: 35px;
        padding: 0px 20px;
    }

    .mainPage footer{
        font-size: 15px;
    }
}
