.mainPage, .exploreBtn, .priceBtns {
    background-color: #011638;
    color: white;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.aboutContainer{
    display: flex;
    align-items: center;
    padding: 50px 10px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutContainer img{
    /* background-color: pink; */
    width: 40vh;
}

.aboutLeftContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutLeftContainer p{
    font-size: 20px;
}

.exploreBtn{
    padding: 15px 20px;
    width: fit-content;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #2E294E;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(129, 121, 201, 0.8), 0 0 10px rgba(129, 121, 201, 0.6), 0 0 30px rgba(129, 121, 201, 0.4);
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.exploreBtn:hover {
    box-shadow: 0 0 15px rgba(129, 121, 201, 1), 0 0 20px rgba(129, 121, 201, 0.7), 0 0 40px rgba(129, 121, 201, 0.5);
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.exploreBtn:hover{
    opacity: 0.85;
}

.mainPage h1{
    font-size: 40px;
    font-weight: bold;
}

.quoteContainer{
    padding: 50px 20px;
    font-size: 25px;
    width: 60%;
    margin: 0 auto;
}


.quoteContainer p{
    text-align: right;
    padding: 10px 0px;
    font-size: 25px;
}

/* ! Text and pictures */
.blockContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;
}

.textContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picTextTitle{
    font-size: 40px;
    font-weight: bold;
}

.picTextBody{
    font-size: 20px;
}

.blockContainer img{
    height: 50vh;
}

#mouseImg{
    height: 30vh;
}

/* ! Pricing and plans  */
.planContainer h2, #captionMsg{
    text-align: center;
}

.planContainer h2{
    padding: 0px 30px;
    font-size: 50px;
}

#captionMsg:hover{
    text-decoration: underline;
    cursor: pointer;
}

.planInnerContainer{
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.priceOuterContainer ul{
    list-style-type: none;
}

.priceContainer{
    padding: 50px 20px;
    border-radius: 5px;
    display: flex;
    width: 300px;
    border: 2px solid rgb(129, 129, 129);
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.priceContainer:hover{
    transform: scale(1.1);
    border: 2px white solid;
}

.planPrice{
    font-size: 30px;
    padding: 20px 0px;
}

.priceBtns, .getStartBtn{
    color: white;
    background-color: #2E294E;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #9c93ca;
    cursor: pointer;
    align-items: center;
}

.priceBtns:hover, .getStartBtn:hover{
    opacity: 0.8;
}

.planBenefits{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 20px 10px 0px;
}

.priceContainer h3, .priceContainer p, .planPrice{
    text-align: center;
}

.captionBtnContainer{
    font-size: 50px;
    text-align: center;
    margin-bottom: 300px;
}

.getStartBtn{
    transition: transform 0.3s ease;
    font-family: 'Space Mono', monospace;
}

.getStartBtn:hover{
    transform: scale(1.05);
}

.mainPage .benefitContainer{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.checkMarkIcon{
    padding-top: 5px;
}


/* ! Footer */
.mainPage footer{
    font-size: 20px;
    padding: 20px 5px 20px;
    border-top: 3px solid white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#githubIcon{
    color: white !important;
    font-size: 25px;
}

/* ! Responsive for mobile */
@media (max-width: 500px) {
    .mainPage nav, .explorePage nav{
        padding: 15px;
    }

    #firstLandingLogo{
        width: 20vh;
    }
    
    .aboutContainer{
        gap: 50px;
    }

    .aboutContainer img{
        width: 30vh;
    }

    .aboutLeftContainer{
        width: 80%;
    }

    .mainPage h1{
        font-size: 35px;
    }

    .quoteContainer{
        width: 80%;
    }

    .quoteContainer h2{
        font-size: 25px;
    }

    .planContainer h2{
        font-size: 35px;
    }

    .blockContainer img{
        width: 35vh;
        height: 35vh !important;
    }

    .picTextTitle{
        font-size: 40px;
    }

    .textContainer{
        width: 80%;
    }

    .mainPage h4{
        font-size: 35px;
        padding: 0px 20px;
    }

    .mainPage footer{
        font-size: 15px;
    }
}

